/* ------------------ ESTILOS HOME ------------------- */

.homeH1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: /* 2em; */2px 3px 5px rgb(108, 108, 241);
}

.homeH2{
    text-align: center;
    color: rgb(200, 235, 22);
    text-shadow: /* 2em; */2px 3px 5px rgb(108, 108, 241);
}

.homeH6{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.homeP{
    text-align: center;
    color: rgb(101, 154, 214);
    text-transform :uppercase;
    text-shadow: /* 2em; */1px 2px 2px rgb(108, 108, 241);
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;     
}

.btncentrar{
    text-align: center;
}

/* ------------------ FIN ESTILOS HOME ---------------- */


/* ------------------ ESTILOS NOSOTROS ---------------- */

.nosotrosH1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: /* 2em; */2px 3px 5px rgb(108, 108, 241);
    text-shadow: 2em;
}

.nosotrosH2{
    text-align: center;
    color: rgb(200, 235, 22);
    text-shadow: /* 2em; */2px 3px 5px rgb(108, 108, 241);
    text-shadow: 10em;
}

.nosotrosH6{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}


/* ------------------ FIN ESTILOS NOSOTROS ---------------*/



/* ------------------- ESTILOS EQUIPO --------------------*/
.equipoH1{
    text-align: center;
    color: rgb(255, 255, 255);
    /* text-shadow: 2em; */
}


.equipoH2{
    font-family: 'Lobster', cursive;
    color:white;
    text-shadow: 2px 3px 5px rgb(26, 69, 27);
    text-align: center;
}

.equipoH3{
    color: white;
    text-shadow: 2px 3px 5px rgb(26, 69, 27);
    font-size: medium;

}

.equipoH4{
    text-align: center;
    color:rgb(200, 235, 22);
    text-shadow: 2px 3px 5px rgb(114, 114, 121);
}

main h6{
    font-family: 'Lobster', cursive;
    color:#2182f1
}

.containerequipo{
    color: beige;
}

.containerequipo h3{
    color: beige;
}
.containerequipo p{
    color: rgb(255, 255, 255);
}

.df, .dv, .jl, .nm, .gd, .gs{
    background-color: #7613af;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
}


/* ----------------- FIN ESTILOS EQUIPO --------------------*/




/* ESTILOS CURSOS */

.cursosH1{
    text-align: center;
    color: rgb(255, 255, 255);
    /* text-shadow: 2em; */
}

.cursosH4{
    text-align: center;
    color:rgb(200, 235, 22);
    text-shadow: 2px 3px 5px rgb(114, 114, 121);
}

.cardcolor{
    background: linear-gradient(to left,#6A82FB,#680eb3);
    /* background : linear-gradient(to right, #6A82FB, #FC5C7D); */
    color: beige;
    font-style: italic;
    border-radius: 40px;
}
.cardcolor p{
    color:rgb(235, 228, 228);
}

 /* COLOR DIV DETALLES DE CADA CURSO*/   
.JAVASCRIPT, .CSS3, .PHP, .PHYTON, .HTML5, .BOOTSTRAP5{
    background-color: #7613af;  /* #7613af */
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
}

.containercursos{
    color: beige;
}

.containercursos h3{
    color: beige;
}
.containercursos p{
    color: rgb(255, 255, 255);
}

/* ------------------------- FIN ESTILOS CURSOS -----------------------*/




/* ------------------------- ESTILOS TESTIMONIOS ----------------------*/

.testimoniosH1{
    text-align: center;
    color: rgb(255, 255, 255);
    /* text-shadow: 2em; */
}

.testimoniosH2{
        text-align: center;
        color: rgb(200, 235, 22);
        text-shadow: 10em;
}

.imgTestimonios{
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 10px auto;
}

/* ----------------------- FIN ESTILOS TESTIMONIOS ------------------- */




/* ----------------------- ESTILOS FOOTER ---------------------------- */
.footerH3{
    color: white;
    text-shadow: 2px 3px 5px blue;
}

.footerH6{
    color: white;
    text-shadow: 2px 3px 5px blue;
    font-size: small;
    text-align: center;
}

.footerP{
    font-size: 12px;
    text-align: left;
}

.footerUl{
    font-size: 12px;
    text-align: left;
}


/* ----------------------- FIN ESTILOS FOOTER ------------------------ */


/* h3 {
    text-shadow: 2px 3px 5px blue;
    font-size: medium;
}

h5, h6 {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    
}
 */
.imgLogo{
    width: 60px;
    height: 60px;
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.imagenHome{
    padding: 40px 40px 40px 40px;
}

.textLogo{
    color: rgb(255, 74, 3);
}

.textMenu{
    color: rgb(209, 125, 0);
}

.resaltado:hover {filter: saturate(180%);}

.resaltadotexto:hover {background-color: rgb(19, 130, 204);}


.divcontainer{
    background-color: aqua;
    height: 100%;
    width: 100%;
}

.divcontainer2{
    width: 48%;
    height: 400px;
}

.imgCursos{
    width: 100px;
    height: 120px;
}

.imgEquipo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 6px 6px 6px 6px rgba(32,32,32,0.3);
}

/* Testimonials Section
--------------------------------*/
  

/*DIANA*/



/*diana contacto*/

.contactoh2 {
    text-align: center;
    margin: 0;
    font-weight: 800;
    text-decoration: underline;
    color:rgb(104, 48, 236);
}

.container-fluid form {
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
   

}

form .grupo{
    position: relative;
    margin: 25px;
    margin-top: 30px;
}

input, textarea {
    background: none;
    color:#fff;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;

}

.grupo label {
    color:rgb(13, 14, 90);
}

.button {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#carouselId{
    background : linear-gradient(to right, #6A82FB, #FC5C7D);
    /* background-color: rgba(1, 3, 44, 0.653);  */
    border-radius: 20px;
}

.revision{
    background-color: #680eb3;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Lobster', cursive;
    color:#91baf0
    
}
ul{
    list-style: none;
}

/* cursos  diana */
/* 
.containerpy-3,h3,p{
    text-align: justify;
    color: #680eb3;
}
 */
/* nosotros diana*/


.col-md-6align-content-centerpy-5, h6 {
    text-align: justify;
}

/* equipo cursos alineacion h4*/

.py-4m-4container-fluid, h4{
    text-align: center;
    color: #91baf0;
}

/* HOME modif 18042023 x diana*/

.homeH2 {
    text-align:center;
    margin: auto;
    padding-left: 15px;
    padding-right:85px;
    padding-top: 15px;

}

.homeH6{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.homeH1{
    text-align: center;
    margin: auto;
    padding-left: 55px;
    padding-right: 45px;

}

button {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* nosotros modif x d 18042023*/

.nosotrosH6{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

/*equipo modif x d 18042023*/

.dv {
    background-color: #7613af;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
}

.jl {
    background-color: #7613af;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
}

