* {
    background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body {
    
font-family: 'Manrope', sans-serif;
width: 100%;
height: 650px;
display: flex;
justify-content: center;
align-items: center;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
  
h1 {
    text-align: center;
    margin: 0;
    font-weight: 800;
    text-decoration: underline;
}


form {
    background-color : #fff;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);

}

form .grupo{
    position: relative;
    margin: 45px;
}

input, textarea {
    background: none;
    color:#fff;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;

}

.grupo label {
    color:#fff ;
}

.button {
    text-align: center;
    justify-content: center;
    align-items: center;
}
