*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
}

.contenedorgral{
    background: linear-gradient(90deg, #9796f0 0%,#fbc7d4 100%,#ffffff 100%);
}

.contenedor-textos {
    text-align: center;
    color: #ffffff;

}

.contenedor-introduccion h2 {
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 520px;
    height:90px ;
    left: 275px;
    top: calc( 50% - 90px/2 - 206px);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;

}


.Diseño  h2 {
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 520px;
    height:90px ;
    left: 282px;
    top: 453px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
}

.Javascript h2 {
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 520px;
    height:90px ;
    left: 282px;
    top: 682px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
}

.contenedor-imagen {

    position: absolute;
    width:628.79px;
    height: 442.29px;
    left: 723.27px;
    top: calc( 50% -442.29px/2 + 179.15px);
   
    
}
